/*
  Tamaños
*/
$layout-with: 1000px;

/*
    COLORES
*/
$color-texto-fondo-oscuro: #2a2a2a;
$color-texto: #fcfcfc;
$color-principal: #79baab;
$color-principal-light: #c5e1db;
$color-contraste: #dc4a23;
$color-contraste-light: #eb9781;
$color-fondo-body: #fff7e8;
